---
import ExperienceItem from "./ExperienceItem.astro";

const experiences = [
  {
    date: "Currently...",
    title: "Student/Junior Web Developer - Logística Woodward S.C.",
    description:
      "Working on the creation of internal-use web tools focused on data consumption and statistics, significantly improving the customer experience.",
  },
  {
    date: "February 2024",
    title: "Trainee - Logística Woodward S.C.",
    description:
      "Intern in the Information Technology division, using various tools and programming languages.",
  },
  {
    date: "August 2022",
    title: "Software Engineering Student - University of Colima.",
    description: "My adventure begins.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    experiences.map((exp) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>
