---
import { githubUrl } from "../../public/links";

const currentYear = new Date().getFullYear();
---

<footer class="m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <hr class="my-6 border-white/50 sm:mx-auto lg:my-8" />
    <span class="block text-sm text-white/80 text-center"
      >© {currentYear}
      Developed by Francisco Rodríguez, aka
      <a
        href={githubUrl}
        class="hover:underline"
        rel="noopener noreferrer"
        target="_blank">Paco</a
      >.
    </span>
  </div>
</footer>
